.TitanBloodContainer {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: center; 
    max-width: 500px;
  }
  
  .TitanBlood {
    width: 50px;
    height: 50px;
  }
  
  .TitanBlood img {
    width: 100%;
    height: 100%;
  }

  .gasto {
    filter: grayscale(100%) opacity(50%);
  }
  